<html>
<head>
</head>
<body>
<h1>Our secrets</h1>

<p>The information here is confidential, only selected ones can read it</p>

<p style="color:white">{{ secret_data.secret_sentence }}</p>
</body>
</html>